.bag{
    position: absolute;
    /*bottom: 4px;*/
    right: 0px;
    height: inherit;
    width: 100px;
    display: block;
    background-color: rgba(0,0,0,0.7);
    border-radius: 0 3px 3px 0;
    /*padding-right: 10px;*/
    color: #fff;
    text-align: left;
    z-index: 5;
    padding: 5px;
    /*display: none;*/
    /* Fix Safari fullscreen bug */
    /*-webkit-transform: translateZ(9999px);*/
    /*transform: translateZ(9999px);*/
}
.itemInBag{
    height: 64px;
    max-width: 90px;
    margin: auto;
    display: flex;
}
.inUseByMe{
    /*opacity: 0.5;*/
    background-color: gold;
}
.inUseByOther{
    opacity: 0.5;
    /*background-color: gold;*/
}
.userAvatar{
    font-weight: bold;
    display: flex;
    margin-bottom: 10px;
    /*line-height: 25px;*/
}

.userAvatar > img {
    width: 40px;
    height: 40px;
    padding-right: 2px

}
.name{
    width: 50px;
    margin: auto;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}